{% extends "layout.html" %}        
{% block content %}
<title>ChatForumApp</title>
<body>
<div class="card bg-primary text-white h-20">
<div class="card-body d-flex flex-column align-items-start">
  <h4 class="card-title">Tervetuloa ChatForumAppin etusivulle</h4>
  <p class="card-text">Tämän foorumin keskustelukategorioita ovat "Ruoka", "Muu" ja "Ohjelmointi".
  <br>Kirjaudu sisään tai luo tili ja osallistu keskusteluun!</p>
</div>
</div>
<br>
<form action="/login" method="POST">
Käyttäjätunnus: <input type="text" name ="username"><br>
Salasana: <input type="password" name="password"><br>
<input type="submit" value="Kirjaudu"><br>
</form>
<a href="/createAccount">Luo tili</a>
</body>
{% endblock %}
