{% extends "layout.html" %}        
{% block content %}
<a href="/forumIndex">Palaa takaisin kategorioihin</a><br><br>
<form action="/createNewThread" method="POST">
Aihe: <input type="text" name="title" size ="40">
<br>
<br>
<input type="checkbox" name="private" value="1"/> Yksityinen
<br>
<br>
Ketkä käyttäjät saavat nähdä keskustelun,
mikäli valitsit vaihtoehdon "Yksityinen": <br>
{% for user in users %}
<input type="checkbox" name="user" value="{{ user[0] }}">{{ user[0] }} <br>
{% endfor %}
<input type="submit" value="Luo uusi keskustelu">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}
