Viestien määrä: {{ count }}
<hr>
{% for message in messages %}
<i>Viesti:</i> {{ message[0] }}
<p>
<i>Lähettäjä:</i> {{ message[1] }}
<p>
<i>Aika:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
{% if user_id == message[3] %}
<br><a href="/modifyMessage">Muokkaa viestiä</a>    
<br><a href="/deleteMessage/{{ message[4] }}">Poista viesti</a>
{% endif %}
<hr>
{% endfor %}<br>
<form action="/send" method="POST">
Viesti: <br>
<textarea name="content" rows="5" cols="40">
</textarea><br>
<input type="submit" value="Lähetä">
</form>
<br>
<a href="/forumIndex">Palaa takaisin kategorioihin</a><br>
